logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

# Ignore the deployment file due to possibly sensitive content.
deployment.env
/.bsp/sbt.json

# Elm related
frontend/elm-stuff
frontend/build