body, button, input {
    font-family: Arial, sans-serif;
}

.overviewButton {
    border: none;
    text-align: center;
    padding: 5%;
    border-radius: 5px;
    text-decoration: none;
    font-size: xxx-large;
    white-space: normal;
    word-wrap: break-word;
    width: 95%;
    display: block;
    margin: auto auto 1%;
    color: rgb(250, 250, 250);
    background-color: rgb(66, 100, 160);
}

.overviewButton:hover,
.navigationButton:hover:not(.disabled),
.pagerButton:hover:not(.disabled) {
    background-color: rgb(100, 149, 237);
}

.nutrientsButton:hover {
    background-color: rgb(170, 102, 204);
}

.addButton {
    background-color: rgb(50, 180, 50);
    color: rgb(250, 250, 250);
    border: none;
    text-align: center;
    padding: 1%;
    border-radius: 5px;
    text-decoration: none;
    font-size: large;
    white-space: normal;
    display: inline-block;
    margin: auto auto 1%;
}

.addButton:hover {
    background-color: rgb(85, 225, 60);
}

#navigation table,
.elementsWithControlsTable {
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    position: relative;
}

.elementsWithControlsTable thead th {
    font-size: larger;
    font-weight: lighter;
    font-style: italic;
}

.elementsWithControlsTable thead th:not(.numberLabel) {
    text-align: left;
}

.searchArea {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.searchArea input {
    width: 50%;
    margin: 3px;
}

.searchArea label,
.searchArea button {
    width: 20%
}

.searchArea label,
.searchArea input {
    font-size: larger;
}

.editButton,
.editorButton,
.deleteButton,
.confirmButton,
.cancelButton,
.selectButton,
.logoutButton,
.alternativeButton,
.nutrientsButton {
    color: rgb(250, 250, 250);
    border: none;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: large;
    display: inline-block;
    margin: auto;
    vertical-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    height: 100%;
    width: 100%;
    word-wrap: break-word;
    white-space: break-spaces;
}

.alternativeButton {
    width: auto;
}

select {
    white-space: nowrap;
    overflow: hidden;
}

.editButton:disabled,
.editorButton:disabled,
.deleteButton:disabled,
.confirmButton:disabled,
.cancelButton:disabled,
.selectButton:disabled,
.navigationButton:disabled,
.pagerButton:disabled,
.alternativeButton:disabled {
    background-color: gray;
    cursor: not-allowed;
}

/*todo: Add proper styling to complex food tab*/
#addRecipeView .editable,
#addMealView .editable:not(.date, .time),
#addReferenceMapView .editable,
#ingredientEditor .editable,
#mealEntryEditor .editable:not(.date, .time),
#referenceEntryEditor .editable,
#statistics .editable:not(.date),
#complexFoodEditor .editable {
    white-space: break-spaces;
    word-wrap: break-word;
}

th {
    white-space: break-spaces;
    word-wrap: break-word;
    position: sticky;
    top: 0;
    background: white;
}

#addRecipeView th:first-child {
    width: 20%;
}

#addRecipeView th:nth-child(2) {
    width: 15%;
}

#addRecipeView th:nth-child(3) {
    width: 10%;
}

#addRecipeView th:nth-child(4) {
    width: 12%;
}

#addMealView th:first-child,
#addMealView th:nth-child(2):not(input) {
    width: 15%;
}

#addMealView th:nth-child(3) {
    width: 30%;
}

#addReferenceMapView th:first-child {
    width: 30%;
}

#addReferenceMapView th:nth-child(2) {
    width: 10%;
}

#mealEntryEditor th:first-child,
#mealEntryEditor th:nth-child(2) {
    width: 30%;
}

#mealEntryEditor th:nth-child(3) {
    width: 10%;
}

#referenceEntryEditor th:first-child {
    width: 50%;
}

#referenceEntryEditor th:nth-child(2) {
    width: 20%
}

#referenceEntryEditor th:nth-child(3) {
    width: 5%
}

#ingredientEditor th:first-child:not(.recipeEditTable) {
    width: 30%
}

#ingredientEditor th:nth-child(2):not(.recipeEditTable) {
    width: 12%;
}

#ingredientEditor th:nth-child(3):not(.recipeEditTable) {
    width: 30%;
}

#ingredientEditor th:nth-child(4):not(.recipeEditTable) {
    width: 28%;
}

#ingredientEditor .recipeEditTable th:first-child {
    width: 25%
}

#ingredientEditor .recipeEditTable th:nth-child(2) {
    width: 21%;
}

#ingredientEditor .recipeEditTable th:nth-child(3) {
    width: 12%;
}

#ingredientEditor .recipeEditTable th:nth-child(4) {
    width: 14%;
}

#ingredientEditor .recipeEditTable th:nth-child(5) {
    width: 28%;
}

#statistics .intervalSelection th:first-child,
#statistics .intervalSelection th:nth-child(2) {
    width: 10%;
}

#statistics .intervalSelection th:nth-child(3) {
    width: 20%;
}

#statistics .nutrients th:first-child,
.partialStatistics .nutrients th:first-child {
    width: 30%
}

#statistics .nutrients th:nth-child(2),
#statistics .nutrients th:nth-child(3),
#statistics .nutrients th:nth-child(4) {
    width: 15%;
}

#statistics .nutrients th:nth-child(5),
.partialStatistics .nutrients th:nth-child(4) {
    width: 5%;
}

.partialStatistics .nutrients th:nth-child(2),
.partialStatistics .nutrients th:nth-child(3) {
    width: 25%;
}

#statistics .meals th:first-child {
    width: 12%;
}

#statistics .meals th:nth-child(2) {
    width: 8%;
}

#statistics .meals th:nth-child(3) {
    width: 35%;
}

#statisticsFood th:first-child {
    width: 75%;
}

#statisticsComplexFood th:first-child {
    width: 75%;
}

#statisticsMeal th:first-child,
#statisticsMeal th:nth-child(2) {
    width: 15%;
}

#statisticsMeal th:nth-child(3) {
    width: 45%;
}

#statisticsRecipe th:first-child {
    width: 40%;
}

#statisticsRecipe th:nth-child(2) {
    width: 35%;
}

.low {
    color: #fa8128; /* tangerine */
}

.exact {
    color: black;
}

.high {
    color: #0492c2; /* cerulean */
}

.numberLabel,
.numberCell {
    text-align: right;
    padding-right: 5px;
}

.editButton {
    background-color: rgb(255, 181, 39);
}

.editButton:hover:enabled {
    background-color: rgb(255, 210, 50);
}

.deleteButton,
.cancelButton {
    background-color: rgb(214, 69, 70);
}

.deleteButton:hover:enabled,
.cancelButton:hover:enabled {
    background-color: rgb(250, 100, 100);
}

.logoutButton {
    background-color: rgb(66, 100, 160);
}

.logoutButton:hover:enabled {
    background-color: rgb(100, 149, 237);
}

.editorButton {
    background-color: rgba(65, 105, 225);
}

.editorButton:hover {
    background-color: rgba(90, 130, 240);
}

.selectButton,
.confirmButton {
    background-color: rgb(54, 217, 54);
}

.selectButton:hover:enabled,
.selectButton:hover:not(.disabled),
.confirmButton:hover:enabled {
    background-color: rgb(70, 240, 70);
}

.alternativeButton {
    background-color: rgb(25, 206, 235);
}

.alternativeButton:hover:enabled {
    background-color: rgb(40, 230, 250);
}

#addRecipeView input:not(.searchField),
#addMealView input:not(.searchField),
#addReferenceMapView input:not(.searchField),
#ingredientEditor input:not(.searchField),
#complexFoodEditor input:not(.searchField),
#mealEntryEditor input:not(.searchField),
#referenceEntryEditor input:not(.searchField),
#statistics input:not(.searchField) {
    box-sizing: border-box;
    width: 100%;
    font-size: larger;
}

.editing:not(.controls):hover,
.editLine:hover {
    background-color: rgb(220, 220, 220);
}

.descriptionColumn, select {
    font-size: larger;
}

.elements {
    font-size: x-large;
    padding-top: 10px;
    padding-bottom: 10px;
}

.searchField {
    margin-top: 20px;
    margin-bottom: 20px;
}

#login, .request, .confirm {
    display: inline-block;
    text-align: center;
    width: 100%;
}

#login input,
#login label,
#login button,
.request input,
.request label,
.request button,
.confirm input,
.confirm label,
.confirm button,
.confirm a {
    font-size: xx-large;
}

#login input,
.request input,
.confirm input {
    box-sizing: border-box;
    margin-bottom: 5px;
}

#login label,
.request label,
.confirm label {
    padding-right: 5px;
    width: 40%
}

#login button,
.request button,
.confirm button,
.confirm a {
    margin-top: 5px;
    width: 30%;
    margin-bottom: 0;
}

.request .info,
.confirm .info {
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
}

.request table,
.confirm table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#error label {
    font-size: larger;
    margin-right: 5px;
}

#navigation thead th {
    font-size: smaller;
    font-weight: lighter;
}

.navigationButton,
.pagerButton {
    color: rgb(250, 250, 250);
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    word-wrap: break-word;
    white-space: break-spaces;
    width: 100%;
    margin-bottom: 15px;
    border: none;
}

.navigationButton,
.pagerButton {
    background-color: rgb(66, 100, 160);
}

.nutrientsButton {
    background-color: rgb(153, 51, 204);
}

.ellipsis {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    word-wrap: break-word;
    white-space: break-spaces;
    width: 100%;
    margin-bottom: 15px;
    border: none;
    background-color: white;
}

.pagination table {
    margin-top: 15px;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

.incomplete {
    text-decoration: underline dashed rgb(218, 112, 214);
}