body, button, input {
    font-family: Arial, sans-serif;
}

/* Buttons */

.overview-button {
    border: none;
    text-align: center;
    padding: 5%;
    border-radius: 5px;
    text-decoration: none;
    font-size: 32pt;
    white-space: normal;
    word-wrap: break-word;
    width: 90%;
    display: block;
    margin: auto auto 1%;
    color: rgb(250 250 250);
    background-color: rgb(66 100 160);
}

.navigation-button,
.pager-button {
    color: rgb(250 250 250);
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    word-wrap: break-word;
    white-space: break-spaces;
    width: 100%;
    margin-bottom: 15px;
    border: none;
}

.navigation-button,
.pager-button,
.error-button {
    background-color: rgb(66 100 160);
}

.menu-button {
    background-color: rgb(23 162 184);
}

.add-button {
    background-color: rgb(50 180 50);
    color: rgb(250 250 250);
    border: none;
    text-align: center;
    padding: 1%;
    border-radius: 5px;
    text-decoration: none;
    font-size: large;
    white-space: normal;
    display: inline-block;
    margin: auto auto 1%;
}

.edit-button,
.editor-button,
.delete-button,
.confirm-button,
.cancel-button,
.select-button,
.logout-button,
.alternative-button,
.nutrients-button,
.menu-button,
.error-button {
    color: rgb(250 250 250);
    border: none;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: large;
    display: inline-block;
    margin: auto;
    vertical-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
    width: 100%;
    word-wrap: break-word;
    white-space: break-spaces;
}

/* Buttons: Colours */

.edit-button {
    background-color: rgb(255 181 39);
}

.delete-button,
.cancel-button {
    background-color: rgb(214 69 70);
}

.logout-button {
    background-color: rgb(66 100 160);
}

.editor-button {
    background-color: rgb(65 105 225);
}

.select-button,
.confirm-button {
    background-color: rgb(54 217 54);
}

.alternative-button {
    background-color: rgb(25 206 235);
    width: auto;
}

/* Buttons: disabled */

.edit-button:disabled,
.editor-button:disabled,
.delete-button:disabled,
.confirm-button:disabled,
.cancel-button:disabled,
.select-button:disabled,
.navigation-button:disabled,
.pager-button:disabled,
.alternative-button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

/* Hover */

.add-button:hover {
    background-color: rgb(85 225 60);
}

.nutrients-button:hover {
    background-color: rgb(170 102 204);
}

.editor-button:hover {
    background-color: rgb(90 130 240);
}

.menu-button:hover {
    background-color: rgb(40 180 200);
}

.overview-button:hover,
.navigation-button:hover:not(.disabled),
.pager-button:hover:not(.disabled),
.error-button:hover:not(.disabled) {
    background-color: rgb(100 149 237);
}

.edit-button:hover:enabled {
    background-color: rgb(255 210 50);
}

.delete-button:hover:enabled,
.cancel-button:hover:enabled {
    background-color: rgb(250 100 100);
}

.logout-button:hover:enabled {
    background-color: rgb(100 149 237);
}

.select-button:hover:enabled,
.select-button:hover:not(.disabled),
.confirm-button:hover:enabled {
    background-color: rgb(70 240 70);
}

.alternative-button:hover:enabled {
    background-color: rgb(40 230 250);
}

/* Tables: Headers */

th {
    white-space: break-spaces;
    word-wrap: break-word;
    position: sticky;
    top: 0;
    background: white;
}

.elements-with-controls-table thead th {
    font-weight: lighter;
    color: rgb(250 250 250);;
    background-color: gray;
    text-transform: uppercase;
}

#navigation table,
.elements-with-controls-table {
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    position: relative;
}

.elements-with-controls-table thead th:not(.number-label) {
    text-align: left;
}

.search-area {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.search-area input {
    width: 50%;
    margin: 3px;
}

.search-area label,
.search-area button {
    width: 20%
}

.search-area label,
.search-area input {
    font-size: medium;
}

table .toggle {
    width: 35px;
}

select {
    white-space: nowrap;
    overflow: hidden;
    font-size: medium;
}

.partial-statistics .editable,
#add-recipe-view .editable,
#add-reference-map-view .editable,
#ingredient-editor .editable,
#reference-entry-editor .editable,
#complex-food-editor .editable,
#statistics-recipe-occurrence .editable,
#add-meal-view .editable:not(.date, .time),
#meal-entry-editor .editable:not(.date, .time),
#statistics .editable:not(.date) {
    white-space: break-spaces;
    word-wrap: break-word;
}

.recipe-edit-table th:first-child {
    width: 20%;
}

.recipe-edit-table th:nth-child(2) {
    width: 27%;
}

.recipe-edit-table th:nth-child(3) {
    width: 23%;
}

.meal-edit-table th:first-child {
    width: 25%;
}

.meal-edit-table th:nth-child(2):not(input) {
    width: 15%;
}

#meal-entry-editor .add-view .add-element th:first-child,
#meal-entry-editor .element-edit-table th:first-child {
    width: 20%
}

#meal-entry-editor .add-view .add-element th:nth-child(2),
#meal-entry-editor .element-edit-table th:nth-child(2) {
    width: 27%
}

#meal-entry-editor .add-view .add-element th:nth-child(3),
#meal-entry-editor .element-edit-table th:nth-child(3) {
    width: 20%
}

#reference-entry-editor .element-edit-table th:first-child,
#reference-entry-editor .add-view .add-element th:first-child {
    width: 40%;
}

#reference-entry-editor .element-edit-table th:nth-child(2),
#reference-entry-editor .add-view .add-element th:nth-child(2) {
    width: 35%
}

#ingredient-editor .element-edit-table th:first-child,
#ingredient-editor .add-view .add-element th:first-child {
    width: 50%
}

#ingredient-editor .element-edit-table th:nth-child(2),
#ingredient-editor .add-view .add-element th:first-child th:nth-child(2) {
    width: 20%;
}

#statistics .interval-selection th:first-child,
#statistics .interval-selection th:nth-child(2) {
    width: 10%;
}

#statistics .interval-selection th:nth-child(3) {
    width: 20%;
}

#statistics .nutrients th:first-child,
.partial-statistics .nutrients th:first-child {
    width: 20%;
}

#statistics .nutrients th:nth-child(2) {
    width: 15%;
}

#statistics .nutrients th:nth-child(3) {
    width: 17%;
}

#statistics .nutrients th:nth-child(4) {
    width: 17%;
}

#statistics .nutrients th:nth-child(5),
.partial-statistics .nutrients th:nth-child(4) {
    width: 10%;
}

.partial-statistics .nutrients th:nth-child(2),
.partial-statistics .nutrients th:nth-child(3) {
    width: 25%;
}

#statistics-food th:first-child {
    width: 80%;
}

#statistics-complex-food th:first-child {
    width: 60%;
}

#statistics-recipe th:first-child {
    width: 30%;
}

#statistics-recipe th:nth-child(2) {
    width: 30%;
}

#complex-food-editor .element-edit-table th:first-child {
    width: 40%
}

#complex-food-editor .element-edit-table th:nth-child(2) {
    width: 22%
}

#complex-food-editor .add-view .add-element th:first-child {
    width: 10%
}

#complex-food-editor .add-view .add-element th:nth-child(2) {
    width: 23%
}

#complex-food-editor .add-view .add-element th:nth-child(3) {
    width: 10%
}

#complex-food-editor .add-view .add-element th:nth-child(4) {
    width: 15%
}

#complex-food-editor .add-view .add-element th:nth-child(5) {
    width: 15%
}

#statistics-recipe-occurrence th:first-child {
    width: 12.5%;
}

#statistics-recipe-occurrence th:nth-child(2) {
    width: 12.5%;
}

#statistics-recipe-occurrence th:nth-child(3) {
    width: 25%;
}

#statistics-recipe-occurrence th:nth-child(4) {
    width: 10%;
}

.low {
    color: #fa8128; /* tangerine */
}

.exact {
    color: black;
}

.high {
    color: #0492c2; /* cerulean */
}

.number-label,
.number-cell {
    text-align: right;
    padding-right: 5px;
}


#add-recipe-view input:not(.search-field),
#add-meal-view input:not(.search-field),
#add-reference-map-view input:not(.search-field),
#ingredient-editor input:not(.search-field),
#complex-food-editor input:not(.search-field),
#meal-entry-editor input:not(.search-field),
#reference-entry-editor input:not(.search-field),
#statistics input:not(.search-field) {
    box-sizing: border-box;
    width: 100%;
    font-size: medium;
}

.editing:not(.controls):hover,
.editLine:hover {
    background-color: rgb(220 220 220);
}

.elements {
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search-field {
    margin-top: 20px;
    margin-bottom: 20px;
}

#login, .request, .confirm {
    display: inline-block;
    text-align: center;
    width: 100%;
}

#login input,
#login label,
#login button,
.request input,
.request label,
.request button,
.confirm input,
.confirm label,
.confirm button,
.confirm a {
    font-size: large;
}

#login input,
.request input,
.confirm input {
    box-sizing: border-box;
    margin-bottom: 5px;
}

#login label,
.request label,
.confirm label {
    padding-right: 5px;
    width: 40%
}

#login button,
.request button,
.confirm button,
.confirm a {
    margin-top: 5px;
    width: 50%;
    margin-bottom: 0;
}

.request .info,
.confirm .info {
    font-size: large;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.request table,
.confirm table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#error label {
    font-size: large;
    margin-right: 5px;
}

#navigation thead th {
    font-size: smaller;
    font-weight: lighter;
}


.nutrients-button {
    background-color: rgb(153 51 204);
}

.ellipsis {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    word-wrap: break-word;
    white-space: break-spaces;
    width: 100%;
    margin-bottom: 15px;
    border: none;
    background-color: white;
}

.pagination table {
    margin-top: 15px;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

.incomplete {
    text-decoration: underline dashed rgb(218 112 214);
}


#statistics-recipe-occurrence .sort-controls button {
    margin-left: 5px;
    margin-bottom: 5px;
}

@media only screen and (orientation: portrait) {
    .elements-with-controls-table thead th {
        font-size: small;
    }

    .edit-button,
    .editor-button,
    .delete-button,
    .confirm-button,
    .cancel-button,
    .select-button,
    .logout-button,
    .alternative-button,
    .nutrients-button,
    .menu-button,
    .error-button,
    .add-button,
    #login input,
    #login label,
    #login button,
    .request input,
    .request label,
    .request button,
    .confirm input,
    .confirm label,
    .confirm button,
    .confirm a {
        font-size: small;
    }

    select {
        font-size: small;
    }

}

@media screen and (width >= 1200px) {
    body {
        width: 61.8%;
        margin-left: auto;
        margin-right: auto;
    }
}