name: Build and publish components

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  create_new_version:
    runs-on: ubuntu-latest
    outputs:
      version-tag: ${{ steps.semantic-version.outputs.version_tag }}
      back-end-paths-changed: ${{ steps.back-end.outputs.back-end-src }}
      front-end-paths-changed: ${{ steps.front-end.outputs.front-end-src }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        # Depth setting is necessary for the semantic-version action.
        with:
          fetch-depth: 0
      - name: Determine version
        id: semantic-version
        uses: paulhatch/semantic-version@f29500c9d60a99ed5168e39ee367e0976884c46e # v6.0.1
        with:
          # Since version 6.0.0, the action uses conventional commits.
          major_pattern: "/(major)/i"
          minor_pattern: "/(minor)/i"
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: back-end
        with:
          filters: |
            back-end-src:
              - 'app/**'
              - 'test/**' 
              - 'conf/**' 
              - 'scripts/**'
              - 'build.sbt'
              - 'project/**'
              - '.scalafmt.conf'
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: front-end
        with:
          filters: |
            front-end-src:
              - 'frontend/**'
      - name: Publish new release
        shell: bash
        run: |
          git tag ${{ steps.semantic-version.outputs.version_tag }} ${{ github.sha }}
          git push origin ${{ steps.semantic-version.outputs.version_tag }}
          echo ${{ secrets.GITHUB_TOKEN }} | gh auth login --with-token
          gh release create ${{ steps.semantic-version.outputs.version_tag }} --generate-notes --verify-tag

  build_and_publish_back_end:
    needs: create_new_version
    uses: ./.github/workflows/build-and-publish-back-end.yml
    # The output is a string, hence the string comparison.
    if: ${{ needs.create_new_version.outputs.back-end-paths-changed == 'true' }}
    with:
      version-tag: ${{ needs.create_new_version.outputs.version-tag }}
    secrets: inherit

  build_and_publish_front_end:
    needs: create_new_version
    uses: ./.github/workflows/build-and-publish-front-end.yml
    # The output is a string, hence the string comparison.
    if: ${{ needs.create_new_version.outputs.front-end-paths-changed == 'true' }}
    with:
      version-tag: ${{ needs.compute-next-version.outputs.version-tag }}
    secrets: inherit
